@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Rubik:wght@700&display=swap");
/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

html,
body {
  scroll-behavior: smooth; }

body {
  background-color: #f0f8ff;
  font-family: Roboto, Rubik, sans-serif;
  color: #263b61; }

* {
  outline: none; }

.container {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 100%; }

@media (min-width: 37.5rem) {
  .container {
    width: 36rem; } }

@media (min-width: 75rem) {
  .container {
    width: 1180px;
    padding: 0; } }

.navbar {
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
  padding-top: 58px;
  padding-left: 25px; }
  .navbar .navbar__inside {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .navbar .navbar__inside .navbar__logo strong {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: #263b61; }
      .navbar .navbar__inside .navbar__logo strong small {
        font-size: 10px;
        display: block;
        line-height: 16px; }
        @media (min-width: 75rem) {
          .navbar .navbar__inside .navbar__logo strong small {
            font-size: 12px; } }
    .navbar .navbar__inside .navbar__hamburguer.active .line:before {
      bottom: 0;
      transform: rotate(45deg); }
    .navbar .navbar__inside .navbar__hamburguer.active .line:after {
      transform: rotate(135deg);
      top: -2px; }
    .navbar .navbar__inside .navbar__hamburguer.active .line {
      transition: 0.3s;
      background: rgba(0, 0, 0, 0); }
    .navbar .navbar__inside .navbar__hamburguer {
      position: relative;
      z-index: 2;
      cursor: pointer;
      height: 21px;
      display: flex;
      align-items: center; }
      .navbar .navbar__inside .navbar__hamburguer .line:before,
      .navbar .navbar__inside .navbar__hamburguer .line:after {
        content: '';
        position: relative;
        height: 2px;
        width: 36px;
        background: linear-gradient(341.36deg, rgba(205, 65, 13, 0.8) -52.26%, rgba(255, 150, 89, 0.8) 118.91%);
        width: 36px;
        height: 2px;
        border-radius: 5px;
        position: relative;
        display: block;
        transition: 0.3s; }
      .navbar .navbar__inside .navbar__hamburguer .line:before {
        bottom: 7.5px; }
      .navbar .navbar__inside .navbar__hamburguer .line:after {
        top: 5px; }
      .navbar .navbar__inside .navbar__hamburguer .line {
        background: linear-gradient(341.36deg, rgba(205, 65, 13, 0.8) -52.26%, rgba(255, 150, 89, 0.8) 118.91%);
        width: 36px;
        height: 2px;
        border-radius: 5px;
        position: relative;
        transition: 0.3s; }
    .navbar .navbar__inside .navbar__menu {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(240, 248, 255, 0.95);
      padding: 32px;
      opacity: 0;
      pointer-events: none;
      overflow: hidden;
      min-height: 100vh; }
      @media (min-width: 75rem) {
        .navbar .navbar__inside .navbar__menu {
          min-height: 0; } }
      .navbar .navbar__inside .navbar__menu .menu {
        padding-top: 80px; }
        .navbar .navbar__inside .navbar__menu .menu .menu__link:nth-child(1) {
          right: -50px; }
        .navbar .navbar__inside .navbar__menu .menu .menu__link:nth-child(2) {
          right: -70px; }
        .navbar .navbar__inside .navbar__menu .menu .menu__link:nth-child(3) {
          right: -90px; }
        .navbar .navbar__inside .navbar__menu .menu .menu__link:nth-child(4) {
          right: -100px; }
        .navbar .navbar__inside .navbar__menu .menu .menu__link:nth-child(5) {
          right: -120px; }
        .navbar .navbar__inside .navbar__menu .menu .menu__link:nth-child(6) {
          right: -140px; }
        .navbar .navbar__inside .navbar__menu .menu .menu__link {
          text-align: right;
          margin-bottom: 20px;
          position: relative;
          right: -50px;
          transition: all 1s; }
          .navbar .navbar__inside .navbar__menu .menu .menu__link a {
            text-decoration: none;
            font-family: Rubik, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #263b61; }
      @media (min-width: 37.5rem) {
        .navbar .navbar__inside .navbar__menu .menu {
          padding: 80px 2rem 0 2rem;
          width: 36rem;
          margin: 0 auto; } }
    .navbar .navbar__inside .navbar__menu.active {
      opacity: 1;
      pointer-events: all;
      transition: 0.3s; }
      .navbar .navbar__inside .navbar__menu.active .menu {
        padding-top: 80px; }
        .navbar .navbar__inside .navbar__menu.active .menu .menu__link {
          right: 0; }

@media (min-width: 75rem) {
  .navbar {
    padding-top: 80px;
    padding-left: 0; }
    .navbar .navbar__inside {
      align-items: center; }
      .navbar .navbar__inside .navbar__logo strong {
        font-size: 24px;
        line-height: 28px; }
      .navbar .navbar__inside .navbar__hamburguer.active {
        display: none; }
      .navbar .navbar__inside .navbar__hamburguer {
        display: none; }
      .navbar .navbar__inside .navbar__menu {
        position: static;
        background: rgba(0, 0, 0, 0);
        padding: 0;
        opacity: 1;
        pointer-events: all;
        overflow: visible; }
        .navbar .navbar__inside .navbar__menu .menu {
          padding: 0;
          width: auto;
          width: 803px;
          display: flex;
          justify-content: space-between;
          padding-bottom: 6px; }
          .navbar .navbar__inside .navbar__menu .menu .menu__link {
            text-align: center;
            margin-bottom: 0;
            position: static;
            padding: 0;
            display: inline-block; }
            .navbar .navbar__inside .navbar__menu .menu .menu__link a {
              text-decoration: none;
              font-family: Rubik, sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: #263b61; }
      .navbar .navbar__inside .navbar__menu.active {
        opacity: 1; }
        .navbar .navbar__inside .navbar__menu.active .menu {
          padding: 0; } }

.site-header {
  background-image: url(../img/people.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 670px;
  margin-bottom: 100px;
  padding-top: 19px;
  padding-left: 24px;
  padding-bottom: 282px; }
  @media (min-width: 37.5rem) {
    .site-header {
      background-position: center bottom; } }
  @media (min-width: 75rem) {
    .site-header {
      background-size: auto;
      padding-left: 322px;
      padding-top: 103px;
      padding-bottom: 439px;
      background-position-x: calc(50% + 44px); } }
  .site-header .site-header__inside {
    color: #263b61;
    font-family: Roboto, Rubik, sans-serif; }
    .site-header .site-header__inside h1 {
      font-style: normal;
      font-weight: 900;
      font-size: 34px;
      line-height: 40px; }
      @media (min-width: 75rem) {
        .site-header .site-header__inside h1 {
          width: 700px;
          font-size: 64px;
          line-height: 75px; }
          .site-header .site-header__inside h1 div {
            display: inline; } }
    .site-header .site-header__inside .paragraph {
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 33px; }
      @media (min-width: 75rem) {
        .site-header .site-header__inside .paragraph {
          font-size: 48px;
          line-height: 56px;
          width: 602px;
          margin-top: -3px; }
          .site-header .site-header__inside .paragraph div {
            display: inline; } }

.page-background.bg-1 {
  background-image: url(../img/forma-1-mob.svg);
  background-repeat: no-repeat; }
  @media (min-width: 75rem) {
    .page-background.bg-1 {
      background-image: url(../img/forma-1.svg);
      background-size: 30% 100%; } }

.programacao {
  padding-top: 150px;
  padding-bottom: 100px;
  padding-left: 20px;
  scroll-margin-top: -154px;
  padding-top: 204px;
  padding-left: 23px;
  padding-bottom: 84.5px; }
  @media (min-width: 75rem) {
    .programacao {
      padding-top: 42px;
      scroll-margin-top: 6px;
      padding-left: 328px; } }
  .programacao .programacao__inside h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 42px; }
    @media (min-width: 75rem) {
      .programacao .programacao__inside h2 {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 28px; } }
  .programacao .programacao__inside p.event {
    margin-bottom: 23px; }
  .programacao .programacao__inside p {
    font-size: 16px;
    line-height: 19px;
    max-width: 269px;
    margin-bottom: 32px; }
    @media (min-width: 75rem) {
      .programacao .programacao__inside p {
        max-width: 459px;
        font-size: 18px;
        line-height: 21px; } }
    .programacao .programacao__inside p strong {
      display: block;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: -0.9px; }
      @media (min-width: 75rem) {
        .programacao .programacao__inside p strong {
          font-size: 18px;
          line-height: 21px; } }
    .programacao .programacao__inside p time {
      font-size: 14px;
      font-weight: 500;
      display: block; }
      @media (min-width: 75rem) {
        .programacao .programacao__inside p time {
          font-size: 18px; } }
  .programacao .programacao__inside .button {
    margin-top: 51px; }

.onde-estamos {
  scroll-margin-top: 50px; }
  @media (min-width: 75rem) {
    .onde-estamos {
      scroll-margin-top: 7px; } }
  .onde-estamos .onde-estamos__inside .onde-estamos__header {
    padding-left: 24px;
    padding-bottom: 30px; }
    @media (min-width: 75rem) {
      .onde-estamos .onde-estamos__inside .onde-estamos__header {
        padding-top: 42px;
        padding-left: 330px; } }
    .onde-estamos .onde-estamos__inside .onde-estamos__header h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 5px; }
      @media (min-width: 75rem) {
        .onde-estamos .onde-estamos__inside .onde-estamos__header h2 {
          font-size: 36px;
          margin-bottom: 16px;
          line-height: 42px; } }
    .onde-estamos .onde-estamos__inside .onde-estamos__header p {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px; }
      @media (min-width: 75rem) {
        .onde-estamos .onde-estamos__inside .onde-estamos__header p {
          font-size: 18px;
          line-height: 21px; } }
      .onde-estamos .onde-estamos__inside .onde-estamos__header p strong {
        display: block;
        font-weight: 500; }
        @media (min-width: 75rem) {
          .onde-estamos .onde-estamos__inside .onde-estamos__header p strong {
            font-size: 24px;
            line-height: 34px; } }
  .onde-estamos .onde-estamos__inside .onde-estamos__map {
    width: 100%; }
    .onde-estamos .onde-estamos__inside .onde-estamos__map iframe {
      height: 371px;
      width: 100%;
      margin-bottom: -4px; }
      @media (min-width: 75rem) {
        .onde-estamos .onde-estamos__inside .onde-estamos__map iframe {
          height: 471px; } }

.conheca {
  background-image: url(../img/forma-2-mob.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  scroll-margin-top: -50px;
  padding-top: 104px;
  padding-bottom: 109px; }
  @media (min-width: 75rem) {
    .conheca {
      background-image: url(../img/forma-2.png);
      background-size: 100% 1127.48px;
      background-repeat: no-repeat;
      background-position: center bottom;
      padding-bottom: 190px;
      padding-top: 205px;
      height: 710px; } }
  .conheca .conheca__inside .slide .slide__title {
    margin-bottom: 21px; }
    .conheca .conheca__inside .slide .slide__title h2 {
      font-size: 24px;
      line-height: 28px;
      color: #f0f8ff;
      margin-bottom: 15px;
      text-transform: uppercase;
      font-weight: bold; }
      @media (min-width: 75rem) {
        .conheca .conheca__inside .slide .slide__title h2 {
          font-size: 36px;
          line-height: 42px; } }
  @media (min-width: 75rem) {
    .conheca .conheca__inside .slide .slide__items {
      width: 900px; } }
  .conheca .conheca__inside .slide .slide__items .slide__item {
    padding: 0 2px;
    outline: none; }
    .conheca .conheca__inside .slide .slide__items .slide__item .slide__item-content {
      padding-bottom: 30px; }
      .conheca .conheca__inside .slide .slide__items .slide__item .slide__item-content p {
        font-weight: 500;
        font-size: 16px;
        line-height: 146.69%;
        color: #f0f8ff;
        max-width: 911px; }
        @media (min-width: 75rem) {
          .conheca .conheca__inside .slide .slide__items .slide__item .slide__item-content p {
            font-size: 24px;
            line-height: 34px; } }
  .conheca .conheca__inside .slide .slide__button .button {
    margin-left: auto; }
    @media (min-width: 75rem) {
      .conheca .conheca__inside .slide .slide__button .button {
        position: relative;
        top: -137px; } }
  .conheca .conheca__inside .slide .slide__dots .slick-dots {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
    top: -12px; }
    .conheca .conheca__inside .slide .slide__dots .slick-dots li.slick-active button {
      opacity: 1; }
    .conheca .conheca__inside .slide .slide__dots .slick-dots li {
      display: flex;
      align-items: center; }
      .conheca .conheca__inside .slide .slide__dots .slick-dots li button {
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 0;
        background: #f0f8ff;
        opacity: 0.5;
        transform: matrix(1, 0, 0, -1, 0, 0);
        border-radius: 50%;
        width: 8px;
        height: 11px;
        margin-right: 7px; }
        @media (min-width: 75rem) {
          .conheca .conheca__inside .slide .slide__dots .slick-dots li button {
            width: 12px;
            height: 12px; } }

.nossa-denominacao {
  padding: 79px 0 113px; }
  @media (min-width: 75rem) {
    .nossa-denominacao {
      padding-top: 0; } }
  @media (min-width: 75rem) {
    .nossa-denominacao .nossa-denominacao__inside {
      width: fit-content;
      margin-left: auto;
      padding-top: 13px;
      position: relative;
      left: -13px; } }
  .nossa-denominacao .nossa-denominacao__inside h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 28px; }
    @media (min-width: 75rem) {
      .nossa-denominacao .nossa-denominacao__inside h2 {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 29px; } }
  .nossa-denominacao .nossa-denominacao__inside .church-name {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 12px; }
    @media (min-width: 75rem) {
      .nossa-denominacao .nossa-denominacao__inside .church-name {
        font-size: 20px;
        width: 420px;
        line-height: 23px; } }
  .nossa-denominacao .nossa-denominacao__inside .quote {
    margin-bottom: 46px;
    font-size: 18px;
    line-height: 21px; }
    @media (min-width: 75rem) {
      .nossa-denominacao .nossa-denominacao__inside .quote {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 10px; } }
  .nossa-denominacao .nossa-denominacao__inside .link {
    font-size: 20px;
    line-height: 23px; }
  .nossa-denominacao .nossa-denominacao__inside .color-bg-try {
    color: #e68559; }

.nossa-lideranca {
  padding: 50px 0 133px; }
  .nossa-lideranca .nossa-lideranca__inside .nossa-lideranca__header {
    margin-bottom: 64px; }
    @media (min-width: 75rem) {
      .nossa-lideranca .nossa-lideranca__inside .nossa-lideranca__header {
        padding-top: 32px;
        margin-bottom: 48px; } }
    .nossa-lideranca .nossa-lideranca__inside .nossa-lideranca__header h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase; }
      @media (min-width: 75rem) {
        .nossa-lideranca .nossa-lideranca__inside .nossa-lideranca__header h2 {
          text-align: center;
          font-size: 36px; } }
  .nossa-lideranca .nossa-lideranca__inside .liderancas {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 33px; }
    @media (min-width: 75rem) {
      .nossa-lideranca .nossa-lideranca__inside .liderancas {
        justify-content: center;
        padding-left: 0; } }
    .nossa-lideranca .nossa-lideranca__inside .liderancas .lideranca {
      margin-bottom: 30px;
      width: 318px;
      max-width: 100%; }
      .nossa-lideranca .nossa-lideranca__inside .liderancas .lideranca .lideranca__imagem:before {
        content: '';
        position: absolute;
        top: -3.75px;
        right: -3.75px;
        bottom: -3.75px;
        left: -3.75px;
        background: linear-gradient(341.36deg, rgba(205, 65, 13, 0.8) -52.26%, rgba(255, 150, 89, 0.8) 118.91%);
        border-radius: 10px;
        z-index: -1; }
      .nossa-lideranca .nossa-lideranca__inside .liderancas .lideranca .lideranca__imagem {
        width: 286.51px;
        position: relative;
        height: 294px;
        display: block;
        background-image: url(../img/lider-1.svg);
        border-radius: 10px;
        border: 2px solid linear-gradient(341.36deg, rgba(205, 65, 13, 0.8) -52.26%, rgba(255, 150, 89, 0.8) 118.91%);
        margin-bottom: 26.61px;
        max-width: 90%;
        margin-bottom: 31px; }
        @media (min-width: 75rem) {
          .nossa-lideranca .nossa-lideranca__inside .liderancas .lideranca .lideranca__imagem {
            width: 308.51px;
            height: 314px;
            max-width: 100%; } }
      .nossa-lideranca .nossa-lideranca__inside .liderancas .lideranca .lideranca__titulo h4 {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 12px; }
        @media (min-width: 75rem) {
          .nossa-lideranca .nossa-lideranca__inside .liderancas .lideranca .lideranca__titulo h4 {
            text-align: center;
            font-size: 24px;
            padding-top: 3px; } }
      .nossa-lideranca .nossa-lideranca__inside .liderancas .lideranca .lideranca__content {
        max-width: 278px;
        margin-left: -2px; }
        @media (min-width: 75rem) {
          .nossa-lideranca .nossa-lideranca__inside .liderancas .lideranca .lideranca__content {
            text-align: center;
            padding-top: 4px;
            max-width: 100%; } }
        .nossa-lideranca .nossa-lideranca__inside .liderancas .lideranca .lideranca__content p {
          font-weight: normal;
          font-size: 16px;
          line-height: 135.69%; }
          @media (min-width: 75rem) {
            .nossa-lideranca .nossa-lideranca__inside .liderancas .lideranca .lideranca__content p {
              font-size: 18px; } }

.contribua {
  scroll-margin-top: 50px; }
  @media (min-width: 75rem) {
    .contribua {
      margin-top: -7px; } }
  .contribua .contribua__inside h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 0px; }
    @media (min-width: 75rem) {
      .contribua .contribua__inside h2 {
        font-size: 36px;
        line-height: 42px; } }
  .contribua .contribua__inside strong {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 14px;
    display: block; }
    @media (min-width: 75rem) {
      .contribua .contribua__inside strong {
        font-size: 24px;
        line-height: 28px;
        padding-left: 1px;
        margin-top: -1px;
        margin-bottom: 28px; } }
  .contribua .contribua__inside p.church {
    line-height: 19px;
    margin-bottom: 2px; }
  .contribua .contribua__inside p {
    font-size: 16px;
    line-height: 26px; }
    @media (min-width: 75rem) {
      .contribua .contribua__inside p {
        font-size: 20px;
        line-height: 30px;
        padding-left: 4px; } }

.contato {
  background-image: url(../img/forma-3.png);
  background-size: 157% 100%;
  padding-top: 207px;
  background-repeat: no-repeat;
  padding-bottom: 129px;
  margin-top: -62px;
  background-position: left; }
  @media (min-width: 75rem) {
    .contato {
      background-size: 100% 100%;
      padding: 142px 0 171px; } }
  .contato .contato__inside {
    color: #ffffff;
    padding-top: 24px; }
    @media (min-width: 75rem) {
      .contato .contato__inside {
        width: 328px;
        margin-left: auto;
        padding-top: 0;
        margin-right: 107px;
        margin-top: -5px; } }
    .contato .contato__inside h2 {
      font-weight: bold;
      font-size: 36px;
      line-height: 42px;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 24px; }
      @media (min-width: 75rem) {
        .contato .contato__inside h2 {
          font-size: 36px;
          margin-bottom: 17px; } }
    .contato .contato__inside p {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 33px;
      font-size: 16px;
      line-height: 27px; }
      @media (min-width: 75rem) {
        .contato .contato__inside p {
          font-size: 24px;
          line-height: 34px; } }
    .contato .contato__inside .contato__social {
      margin-top: 17px; }
      @media (min-width: 75rem) {
        .contato .contato__inside .contato__social {
          margin-top: 30px; } }
      .contato .contato__inside .contato__social a img {
        margin-right: 15px;
        transition: 0.3s; }
        @media (min-width: 75rem) {
          .contato .contato__inside .contato__social a img {
            margin-right: 18px; } }
      .contato .contato__inside .contato__social a img:active {
        transform: scale(0.95); }
      .contato .contato__inside .contato__social a .logo-instagram,
      .contato .contato__inside .contato__social a .logo-facebook {
        width: 30px; }
        @media (min-width: 75rem) {
          .contato .contato__inside .contato__social a .logo-instagram,
          .contato .contato__inside .contato__social a .logo-facebook {
            width: 42px; } }
      .contato .contato__inside .contato__social a .logo-youtube {
        width: 37px; }
        @media (min-width: 75rem) {
          .contato .contato__inside .contato__social a .logo-youtube {
            width: 49px; } }

.footer {
  padding: 28px 0 34px; }
  .footer .footer__inside {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px; }
    @media (min-width: 75rem) {
      .footer .footer__inside {
        font-size: 18px; } }

.button {
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #f0f8ff;
  transition: 0.3s;
  cursor: pointer; }
  @media (min-width: 75rem) {
    .button {
      border-radius: 10px;
      font-size: 18px;
      line-height: 21px; } }

.button--large {
  background: linear-gradient(341.36deg, rgba(205, 65, 13, 0.8) -52.26%, rgba(255, 150, 89, 0.8) 118.91%);
  max-width: 289px;
  height: 47px;
  width: 100%; }
  @media (min-width: 75rem) {
    .button--large {
      height: 59px;
      max-width: 543px; } }

.button--medium {
  font-weight: 500;
  font-size: 16px;
  width: 167px;
  height: 31px; }
  @media (min-width: 75rem) {
    .button--medium {
      width: 215.48px;
      height: 40px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 141.69%; } }

.button--outlined {
  border: 1px solid #f0f8ff;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0); }

.button--outlined:hover {
  background: #f0f8ff;
  color: #e68559; }

.button:active {
  transform: scale(0.97); }

.bg-text {
  background-color: #263b61; }

.bg-text-2 {
  background-color: #3c3c4e; }

.bg-background {
  background-color: #f0f8ff; }

.bg-bg-try {
  background-color: linear-gradient(341.36deg, rgba(205, 65, 13, 0.8) -52.26%, rgba(255, 150, 89, 0.8) 118.91%); }

.color-text {
  color: #263b61; }

.color-text-2 {
  color: #3c3c4e; }

.color-background {
  color: #f0f8ff; }

.color-bg-try {
  color: linear-gradient(341.36deg, rgba(205, 65, 13, 0.8) -52.26%, rgba(255, 150, 89, 0.8) 118.91%); }

.font-primary {
  font-family: Roboto, Rubik, sans-serif; }

.font-secondary {
  font-family: Rubik, sans-serif; }

.text-bolder {
  font-weight: bolder; }

.text-normal {
  font-weight: 400; }

.text-bold {
  font-weight: 700; }

.text-light {
  font-weight: 300; }

.text-uppercase {
  text-transform: uppercase; }

.text-centered {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }
