.nossa-lideranca {
  padding: 50px 0 133px;

  .nossa-lideranca__inside {
    .nossa-lideranca__header {
      margin-bottom: 64px;

      @include for-desktop-up {
        padding-top: 32px;
        margin-bottom: 48px;
      }

      h2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;

        @include for-desktop-up {
          text-align: center;
          font-size: 36px;
        }
      }
    }
    .liderancas {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
      padding-left: 33px;

      @include for-desktop-up {
        justify-content: center;
        padding-left: 0;
      }

      .lideranca {
        margin-bottom: 30px;
        width: 318px;
        max-width: 100%;

        .lideranca__imagem:before {
          content: '';
          position: absolute;
          top: -3.75px;
          right: -3.75px;
          bottom: -3.75px;
          left: -3.75px;
          background: $bg-try;
          border-radius: 10px;
          z-index: -1;
        }

        .lideranca__imagem {
          width: 286.51px;
          position: relative;
          height: 294px;
          display: block;
          background-size: cover;
          background-image: url(../img/lider-1.svg);
          border-radius: 10px;
          border: 2px solid $bg-try;
          margin-bottom: 26.61px;
          max-width: 90%;
          margin-bottom: 31px;

          @include for-desktop-up {
            width: 308.51px;
            height: 314px;
            max-width: 100%;
          }
        }

        .lideranca__titulo {
          h4 {
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 12px;

            @include for-desktop-up {
              text-align: center;
              font-size: 24px;
              padding-top: 3px;
            }
          }
        }
        .lideranca__content {
          max-width: 278px;
          margin-left: -2px;

          @include for-desktop-up {
            text-align: center;
            padding-top: 4px;
            max-width: 100%;
          }

          p {
            font-weight: normal;
            font-size: 16px;
            line-height: 135.69%;

            @include for-desktop-up {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
