.onde-estamos {
  scroll-margin-top: 50px;

  .onde-estamos__inside {
    .onde-estamos__header {
      padding-left: 20px;
      padding-bottom: 30px;

      @include for-desktop-up {
        padding-left: 300px;
        padding-bottom: 40px;
      }

      h2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 5px;

        @include for-desktop-up {
          font-size: 36px;
          margin-bottom: 10px;
          line-height: 42px;
        }
      }
      p {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        @include for-desktop-up {
          font-size: 18px;
          line-height: 21px;
        }

        strong {
          display: block;
          font-weight: 500;

          @include for-desktop-up {
            font-size: 24px;
            line-height: 28px;
          }
        }
      }
    }
    .onde-estamos__map {
      width: 100%;

      iframe {
        height: 371px;
        width: 100%;
        margin-bottom: -4px;

        @include for-desktop-up {
          height: 471px;
        }
      }
    }
  }
}
