.page-background.bg-1 {
  background-image: url(../img/forma-1-mob.svg);
  background-repeat: no-repeat;

  @include for-desktop-up {
    background-image: url(../img/forma-1.svg);
    background-size: 30% 100%;
  }
}
