.programacao {
  padding-top: 150px;
  padding-bottom: 100px;
  padding-left: 20px;
  scroll-margin-top: -154px;
  padding-top: 204px;
  padding-left: 23px;
  padding-bottom: 84.5px;

  @include for-desktop-up {
    padding-top: 42px;
    scroll-margin-top: 6px;
    padding-left: 328px;
  }

  .programacao__inside {
    h2 {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold;
      line-height: 28px;
      margin-bottom: 42px;

      @include for-desktop-up {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 28px;
      }
    }
    p.event {
      margin-bottom: 23px;
    }
    p {
      font-size: 16px;
      line-height: 19px;
      max-width: 269px;
      margin-bottom: 32px;

      @include for-desktop-up {
        max-width: 459px;
        font-size: 18px;
        line-height: 21px;
      }

      strong {
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: -0.9px;

        @include for-desktop-up {
          font-size: 18px;
          line-height: 21px;
        }
      }
      time {
        font-size: 14px;
        font-weight: 500;
        display: block;

        @include for-desktop-up {
          font-size: 18px;
        }
      }
    }

    .button {
      margin-top: 51px;
    }
  }
}
