.programacao {
  padding-top: 150px;
  padding-bottom: 100px;
  padding-left: 20px;
  scroll-margin-top: -100px;

  @include for-desktop-up {
    padding-left: 300px;
    padding-top: 100px;
  }

  .programacao__inside {
    h2 {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold;
      line-height: 28px;
      margin-bottom: 30px;

      @include for-desktop-up {
        font-size: 36px;
        line-height: 42px;
      }
    }
    p {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 20px;
      max-width: 269px;

      @include for-desktop-up {
        max-width: 459px;
        font-size: 18px;
        line-height: 21px;
      }

      strong {
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;

        @include for-desktop-up {
          font-size: 18px;
          line-height: 21px;
        }
      }
      time {
        font-weight: 500;
        display: block;
      }
    }

    .button {
      margin-top: 40px;
    }
  }
}
